@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans+Condensed:wght@500&family=IBM+Plex+Mono:wght@200;400&family=IBM+Plex+Sans:ital@1&family=Inter:wght@400;700&family=Lexend:wght@300&family=MonteCarlo&family=Montserrat:wght@300;400&family=Open+Sans&family=Poppins:wght@100;300&family=Public+Sans&family=Quicksand:wght@500;700&family=Raleway:wght@600&family=Roboto&family=Roboto+Condensed&display=swap');

* {
    margin: 0px auto;
    padding: 0px auto;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}